*{margin:0;padding:0;}
html{font:12px verdana, sans-serif;}
body{max-width:1024px;margin:0 auto;}
main{padding:1.5em;margin-top:3em;}
header img{min-width:150px; max-width:300px;}
section{margin-bottom:6em;}section>div,h2,h3,h4,p{margin-bottom:1em;}
.flex-wrap{display:flex; flex-flow:wrap;}
.hc{justify-content:center;}
a:hover{text-decoration:underline;cursor:pointer;}
li{margin-bottom:1.5em;}
h1{font-family:cursive;}
.box-shadow{box-shadow:1px 3px 15px #ccc;}
a{color:#000;text-decoration:none;}

.btn>button{
border-radius: 3px;
padding:2em;
width:150px;
margin-right:1em;
margin-bottom:1em;
border:0;
}
button{padding:1em;}



nav{
padding-top:1.5em;
}
nav ul{list-style:none;padding:0; display:flex; flex-flow:wrap;}
nav li{margin-right:1.5em;}
article{width:300px;padding:1em;margin:1em;}
article>a{float:right;}
footer{padding:1em;}